/*Set the style your way*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	margin: 0px;
  background: rgb(37, 255, 255);
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Bebas Neue', cursive;
	font-size: 80pt;
	text-align: center;
	user-select: none;
}